body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #ff6e7f, #bfe9ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.hidden {
  display: none;
}

.setup-container,
.game-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  height: 70%;
}

.new-game-container {
  text-align: center;
  margin-bottom: 30px;
}

#new-game {
  background: #ff7f7f;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}

#new-game:hover {
  background: #ff4f4f;
}

.game-instructions {
  margin-bottom: 30px;
}

.target-score {
  margin-bottom: 30px;
}

#target {
  width: 80px;
  font-size: 1.2em;
  padding: 5px;
}

.game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.player {
  background: #ffe0e0;
  padding: 30px;
  border-radius: 15px;
  width: 180px;
  /* Increased width */
  height: 200px;
  /* Increased height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score {
  font-size: 2.5em;
  /* Increased font size */
  color: #ff0000;
}

.current {
  background: #ffcccc;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5em;
  /* Increased font size */
}

.dice-box {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: space-between;
}

.dice {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.die img {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
}

button {
  background: #ff7f7f;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}

button:hover {
  background: #ff4f4f;
}
